@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  min-height: 100%;
}

.custom-scrollbar::-webkit-scrollbar {
  height: 8px;
  width: 8px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply rounded-full bg-slate-400/50;
}
.custom-scrollbar::-webkit-scrollbar-track {
  @apply bg-transparent;
}
